<header class="faq-header py-5 border-bottom">
    <div class="container">
        <div class="row gx-md-5 align-items-center">
            <div class="col-md-6 order-md-0 order-2">
                <div class="breadcrumb-holder">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '&rang;';">
                        <ol class="breadcrumb text-bg-light border d-inline-flex align-items-center px-3 py-1 rounded-pill">
                            <li class="breadcrumb-item">
                                <a href="#" class="small text-decoration-none">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="small text-decoration-none">Courses</a>
                            </li>
                            <li class="breadcrumb-item active small" aria-current="page">
                                Single Course
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="single-course-content-holder pe-md-5 mb-3">
                    <h1 class="fw-normal fs-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing.
                    </h1>
                    <h2 class="fs-6 small fw-light text-secondary">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
                    </h2>

                    <div class="col-md-10 my-3 faq-search-form">
                        <form class="d-flex" role="search">
                            <div class="input-group">
                                <input type="search" class="form-control form-control-sm" placeholder="Search for..." />
                                <button type="submit" class="btn btn-sm btn-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="single-course-image mb-md-0 mb-3">
                    <img class="rounded img-fluid full-width shadow-sm" src="img/main-header.jpg" alt="" />

                </div>
            </div>
        </div>
    </div>
</header>

<section class="faq-list py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <details class="card text-bg-light small mb-3">
                    <summary class="card-header">Integer sollicitudin purus consectetur; aenean augue adipiscing urna.</summary>
                    <div class="card-body">
                        <p>Dolor cursus porttitor placerat montes conubia ullamcorper. Dictumst ullamcorper mollis lacus facilisi varius. Purus placerat curabitur posuere mollis laoreet dis senectus fringilla. Montes gravida amet eleifend ad aliquet.</p>
                    </div>
                </details>
                <details class="card text-bg-light small mb-3">
                    <summary class="card-header">Integer sollicitudin purus consectetur; aenean augue adipiscing urna.</summary>
                    <div class="card-body">
                        <p>Dolor cursus porttitor placerat montes conubia ullamcorper. Dictumst ullamcorper mollis lacus facilisi varius. Purus placerat curabitur posuere mollis laoreet dis senectus fringilla. Montes gravida amet eleifend ad aliquet.</p>
                    </div>
                </details>
                <details class="card text-bg-light small mb-3">
                    <summary class="card-header">Integer sollicitudin purus consectetur; aenean augue adipiscing urna.</summary>
                    <div class="card-body">
                        <p>Dolor cursus porttitor placerat montes conubia ullamcorper. Dictumst ullamcorper mollis lacus facilisi varius. Purus placerat curabitur posuere mollis laoreet dis senectus fringilla. Montes gravida amet eleifend ad aliquet.</p>
                    </div>
                </details>
                <details class="card text-bg-light small mb-3">
                    <summary class="card-header">Integer sollicitudin purus consectetur; aenean augue adipiscing urna.</summary>
                    <div class="card-body">
                        <p>Dolor cursus porttitor placerat montes conubia ullamcorper. Dictumst ullamcorper mollis lacus facilisi varius. Purus placerat curabitur posuere mollis laoreet dis senectus fringilla. Montes gravida amet eleifend ad aliquet.</p>
                    </div>
                </details>
                <details class="card text-bg-light small mb-3">
                    <summary class="card-header">Integer sollicitudin purus consectetur; aenean augue adipiscing urna.</summary>
                    <div class="card-body">
                        <p>Dolor cursus porttitor placerat montes conubia ullamcorper. Dictumst ullamcorper mollis lacus facilisi varius. Purus placerat curabitur posuere mollis laoreet dis senectus fringilla. Montes gravida amet eleifend ad aliquet.</p>
                    </div>
                </details>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header text-bg-primary">Post your Questions</div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <input type="text" class="form-control form-control-sm" placeholder="Name" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <input type="email" class="form-control form-control-sm" placeholder="Email" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <input type="text" class="form-control form-control-sm" placeholder="Your Question Title" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <textarea rows="5" class="form-control form-control-sm" placeholder="Question in detail" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="d-grid mb-2">
                                        <button type="submit" class="btn btn-sm btn-success d-inline-flex align-items-center justify-content-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill me-2" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                            </svg>
                                            Post Question
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>